body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #00aaff;
}

/* SECTIONS */
.section {
    padding: 80px 20px;
    text-align: center;
}

.section:nth-child(even) {
    background-color: #f2f2f2;
}